
<footer id="footer" class="style4">
    <div class="footer-wrapper">
        <div class="container">
            <div class="row add-clearfix same-height">
                <div class="col-sm-6 col-md-3" id="widget-fvf">
                    <h5 class="section-title box">KẾT NỐI VỚI CHÚNG TÔI</h5>
                    <div class="instagram-thumb clearfix">
                        <div class="fb-page" data-href="https://www.facebook.com/Di%E1%BB%87p-L%E1%BB%A5c-Xanh-340136359654217/" data-tabs="timeline" data-width="300" data-height="200" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/Di%E1%BB%87p-L%E1%BB%A5c-Xanh-340136359654217/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/Di%E1%BB%87p-L%E1%BB%A5c-Xanh-340136359654217/">Diệp Lục Xanh</a></blockquote></div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3" id="padding-top">
                    <h5 class="section-title box">CHÍNH SÁCH</h5>
                    <p><a href="@Url.Action("ChinhSachDoiTra", "AboutShop")">Chính sách đổi trả hàng</a></p>
                    <p><a href="@Url.Action("ChinhSachUuDai", "AboutShop")">Chính sách ưu đãi</a></p>
                </div>

                <div class="col-sm-6 col-md-3">
                    <h5 class="section-title box">Hỗ Trợ</h5>
                    <p><a href="@Url.Action("HuongDanMuaHang", "AboutShop")">Hướng dẫn mua hàng</a></p>
                    <p><a href="@Url.Action("HuongDanThanhToan", "AboutShop")">Hướng dẫn thanh toán</a></p>
                </div>

                <div class="col-sm-6 col-md-3" id="add-fvf">
                    <h5 class="section-title box">LIÊN HỆ VỚI CHÚNG TÔI</h5>
                    <p><a>1818 CT1 chung cư The Pride Hải Phát</a></p>
                    <p class="sdt"><a>0934580456</a></p>
                    <p class="email"><a>Pham.tiendat2508@gmail.com</a></p>
                    <a class="back-to-top"><span></span></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bar_widget">
        <div class="contents">
            <div class="widget_support">
                <img src="~/images/chamsockh.png">
            </div>
            <div class="method_support">
                <p>Hotline mua hàng / chăm sóc khách hàng: </p>
                <label> 0934580456</label>
                <span class="dotline">-</span>
                <label class="style1">dieplucfresh.com</label>
            </div>
        </div>
    </div>
</footer>